<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Success😎</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesSuccessFailure.css">
  </head>
  <body>
    <div class="block-success">
      <h1>Success!</h1>
      <p>You have been successfully added to the newsletter, more interesting content will follow, stay tuned.</p>
      <form class="" action="/success" method="post">
        <button class="btn btn-outline-dark" type="submit" name="button">Return to the main page</button>
      </form>
    </div>
  </body>
</html>
